<ion-view class="admin" can-swipe-back="false">
		<!-- <ion-content> -->

  <header class="header">
    <div class="header__left_rwd">
      <img class="logo-location" src="{{actualImageLocation}}" >
    </div>
    <div class="header__center_rwd" style="width: 20%">
      <img class="logo-medirest" src="./img/logo-medirest.png">
    </div>
    <div class="header__right_rwd" style="width: 30%">
      <p class="category-title lang-es" style="font-size: 24px">Coordinador</p>
    </div>
  </header>
			<div class="admin__wrapper">
				<h2>Por favor revise la orden: </h2>
				<ul class="admin__wrapper--border">
					<li class="adminItem" ng-repeat="item in actualOrder" ng-click="selectMenu(menu)">
						<!-- <h2>{{item.category.name}}</h2> -->
						<h1>{{item.category}}</h1>
						<div class="adminItem__detail">
							<h2>{{item.name}}</h2>
							<p>{{item.description}}</p>
							<ul>
								<li ng-repeat="accompaniment in item.accompaniments"><span>{{accompaniment.title}} : </span>{{accompaniment.name}}</li>
							</ul>
							<p ng-if="item.comment"><span>Observaciones : </span> {{item.comment}}</p>
						</div>
					</li>
					<form  name="loginForm" ng-submit="loginForm.$valid && login()" class="flex" novalidate>
						<div class="comments">
							<label class="item item-input">
								<textarea ng-model="user.comments" placeholder="Observaciones"></textarea>
							</label>
						</div>
						<div class="password">
							<label class="item item-input">
								<input ng-model="user.password" type="password" placeholder="Contraseña" required>
							</label>
						</div>
						<div class="send">
							<button type="submit" ng-disabled="!loginForm.$valid" class="button button-energized">
								Aprobar
							</button>
						</div>
					</form>
				</ul>
			</div>
		<!-- </ion-content> -->
	</ion-view>
