<ion-view class="finish" can-swipe-back="false">
	<!-- <ion-content> -->
  <header class="header">
    <div class="header__left_rwd">
      <img class="logo-location" src="{{actualImageLocation}}" >
    </div>
    <div class="header__center_rwd">
      <img class="logo-medirest" src="./img/logo-medirest.png">
    </div>
    <div class="header__right_rwd">
      <img class="logo-menu" src="./img/logo-menu.png" alt="" />
    </div>
  </header>
	<div class="subheader">
		<h2 class="animated fadeInUp">{{actualCustomer.firstname}} {{actualCustomer.lastname}}</h2>
		<p>Para finalizar, por favor devuelva este dispositivo al coordinador, quien verificará y finalizará su solicitud, Gracias.</p>
	</div>
	<div class="finish__wrapper">
		<div class="finish__wrapper--border">
			<h1>¡Su Orden Estará Pronto!</h1>
			<div class="images">
				<img src="./img/medirest.png" alt="">
			</div>
			<div type="submit" class="button button-energized" ng-click="goToAdmin()">
				Coordinador
			</div>
		</div>
	</div>
	<!-- </ion-content> -->
</ion-view>
