<ion-view class="home" can-swipe-back="false">
	<ion-content scroll="false">
		<header class="header">
      <div class="header__left_rwd">
        <img class="logo-location" src="{{actualImageLocation}}" >
      </div>
      <div class="header__center_rwd">
        <img class="logo-medirest" src="./img/logo-medirest.png">
      </div>
			<div class="header__right_rwd">
				<img class="logo-menu" src="./img/logo-menu.png" alt="" />
			</div>
		</header>
		<!--<aside></aside>-->
    <div class="content">
      <h1>Paciente</h1>
      <section class="toogle">
        <span class="new">Nuevo</span>
        <li class="item item-toggle">
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="userExisting" ng-checked="userExisting">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <span class="old">Existente</span>
      </section>
      <div class="home__wrapper">
        <form ng-if="userExisting" ng-submit="validForm && welcome(true)" class="list card rwd-home-card" novalidate>
          <div class="item card__header"></div>
          <div class="item item-body">
            <div class="card__body">
            <div class="list card__body--fields">
              <div class="name" ng-click="customerOpenModal()">
                <div class="name__icon"></div>
                <div class="name__label">
                  {{actualCustomer.firstname}} {{actualCustomer.lastname}}
                </div>
                <div class="name__arrow"></div>
              </div>
              <label class="item item-input identification" ng-click="changeDni()">
                <div class="identification__icon"></div>
                <!-- <input type="text" placeholder="identificación" ng-model="actualDni"> -->
                <div>
                  {{actualCustomer.dni}}
                </div>
                <div class="identification__edit" >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
              </label>
              <div class="place">
                <div class="place__label">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                  No de sala
                </div>
                <div class="place__select" ng-click="placeOpenModal(true)">
                  {{actualCustomer.place_id}}
                  <div class="place__select--icon"></div>
                </div>
              </div>
            </div>
            <ion-list class="card__body--options">
              <ion-checkbox ng-model="opt.checked" ng-repeat="opt in categories">{{opt.name}}</ion-checkbox>
            </ion-list>
          </div>
          <div class="item-button">
            <button type="submit" ng-disabled="!validForm" class="button button-energized">
              Ingresar
            </button>
          </div>
          </div>
          <div class="card__footer"></div>
        </form>
        <form ng-if="!userExisting" name="createCustomerForm" ng-submit="createCustomerForm.$valid && createCustomer()" class="list card" novalidate>
          <div class="item card__header"></div>
          <div class="item item-body card__body">
            <div class="list card__body--fields">
              <label class="item item-input name">
                <div class="name__icon"></div>
                <input type="text" placeholder="nombre" ng-model="newCustomer.name" required>
              </label>
              <label class="item item-input lastName">
                <div class="lastName__icon"></div>
                <input type="text" placeholder="apellidos" ng-model="newCustomer.lastName" required>
              </label>
              <label class="item item-input identification">
                <div class="identification__icon"></div>
                <input type="text" placeholder="identificación" ng-model="newCustomer.dni" required>
              </label>
              <div class="place placeNew">
                <div class="place__label">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                  No de sala
                </div>
                <div class="place__select" ng-click="placeOpenModal(false)">
                  <!--{{actualPlace}}-->
                  <input type="text" class="place__select" ng-model="newCustomer.placeId" required readonly>
                  <div class="place__select--icon"></div>
                </div>
              </div>
              <div class="item-button">
                <button type="submit" ng-disabled="!createCustomerForm.$valid" class="button button-energized">
                  Ingresar
                </button>
              </div>
            </div>
            <ion-list class="card__body--options">
              <ion-checkbox ng-model="opt.checked" ng-repeat="opt in categories">{{opt.name}}</ion-checkbox>
            </ion-list>
          </div>
          <div class="card__footer"></div>
        </form>

      </div>
    </div>
		</div>
	</ion-content>
</ion-view>
