<ion-view class="login" can-swipe-back="false">
	<div class="login__wrapper">
			<div class="item-login">
        <h1>BIENVENIDO</h1>
				<p>Estamos comprometidos con brindarle<br>las mejores opciones para su salud y bienestar<br>
					<strong>Esperamos que disfrute su estadía</strong>
        </p>
				</div>
				<div class="spacer" style="height: 10px;"></div>
		<form  name="loginForm" ng-submit="loginForm.$valid && login()" class="login__form rwd-login-form" novalidate>
			<div class="item item-body card__body item-body-rwd">
				<ion-list class="list list-inset">
					<label class="item item-input rwd-input">
						<input ng-model="user.email" type="text" placeholder="Usuario:" autocapitalize="off" required>
					</label>
					<label class="item item-input rwd-input">
						<input ng-model="user.password" type="password" placeholder="Contraseña:" required>
					</label>
				</ion-list>
				<div class="login_box" >
					<button type="submit" ng-disabled="!loginForm.$valid" class="rw-button">INGRESE</button>
				</diV>
			</div>
		</form>
	</div>
  <img src="./img/medirest.png">
</ion-view>
