<ion-view class="lunch" can-swipe-back="false">
  <header class="header">
    <div class="header__left" ng-click="backStep()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <div class="header__left_rwd">
      <img class="logo-location" src="{{actualImageLocation}}" >
    </div>
    <div class="header__center_rwd">
      <img class="logo-medirest" src="./img/logo-medirest.png">
    </div>
    <div class="header__right_rwd">
      <p class="category-title lang-en">{{categories[actualStep].caption}}</p>
      <p class="category-title lang-es">{{categories[actualStep].name}}</p>
    </div>
  </header>
	<div class="subheader">
		<p>{{categories[actualStep].instruction}}</p>
	</div>
	<div class="lunch__wrapper">
		<ul class="lunch__wrapper--border">
			<li ng-if="item.products.length > 0" class="itemLunch animated bounceInLeft" ng-repeat="item in categories[actualStep].subcategories" ng-click="selectSubcategory(item)">
				<div style="background: url('{{item.image}}') center no-repeat; background-size: cover;" class="itemLunch__img"></div>
				<div class="itemLunch__footer">
					<p>{{item.name}}</p>
				</div>
			</li>
		</ul>
	</div>
</ion-view>
