<ion-view class="menus" can-swipe-back="false">
	<header class="header">
		<div class="header__left" ng-click="backStep()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
		</div>
    <div class="header__left_rwd">
      <img class="logo-location" src="{{actualImageLocation}}" >
    </div>
    <div class="header__center_rwd">
      <img class="logo-medirest" src="./img/logo-medirest.png">
    </div>
    <div class="header__right_rwd">
      <p class="category-title lang-en">{{categories[actualStep].caption}}</p>
      <p class="category-title lang-es">{{categories[actualStep].name}}</p>
    </div>
	</header>
	<div class="menus__wrapper">
		<h2 class="step_title">{{categories[actualStep].instruction}}</h2>
		<p class="info-cat" >{{categories[actualStep].note}}</p>
		<ul class="menus__wrapper--border scrollbar" lazy-scroll>
			<li ng-show="categories[actualStep].products.length > 0 " class="itemMenu" ng-repeat="menu in categories[actualStep].products" ng-click="selectMenu(menu)">
				<div class="itemMenu__img">
					<img ng-src="{{menu.image}}" alt="">
				</div>
				<div class="itemMenu__detail">
					<h3>{{menu.name}}</h3>
					<p>{{menu.description}}</p>
				</div>
			</li>
			<li ng-show="!categories[actualStep].products.length > 0 && subProducts" class="itemMenu animated bounceInLeft" ng-repeat="menu in subProducts" ng-click="selectMenu(menu)">
				<div class="itemMenu__img">
					<img ng-src="{{menu.image}}" alt="">
				</div>
				<div class="itemMenu__detail">
					<h3>{{menu.name}}</h3>
					<p>{{menu.description}}</p>
				</div>
			</li>
		</ul>
	</div>
</ion-view>
