<ion-view class="order" can-swipe-back="false">

  <header class="header">
    <div class="header__left" ng-click="prevModal()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <div class="header__left_rwd">
      <img class="logo-location" src="{{actualImageLocation}}" >
    </div>
    <div class="header__center_rwd" style="width: 20%">
      <img class="logo-medirest" src="./img/logo-medirest.png">
    </div>
    <div class="header__right_rwd" style="width: 30%">
      <p class="category-title lang-es" style="font-size: 24px">Buen Provecho</p>
    </div>
  </header>

	<div class="order__wrapper">
		<h2>Resumen del pedido </h2>
		<ul class="order__wrapper--border">
			<li class="box" ng-repeat="item in actualOrder" ng-click="selectMenu(menu)">
				<h1>{{item.category}}</h1>
				<div class="box__img">
					<img src="{{item.image}}" alt="">
				</div>
				<h2>{{item.name | capitalize:true}}</h2>
				<p>{{item.description}}</p>
				<ul>
					<li ng-repeat="accompaniment in item.accompaniments"><span>{{accompaniment.title}} : </span>{{accompaniment.name}}</li>
					<li ng-if="item.comment"><span>Observaciones : </span> {{item.comment}}</li>
				</ul>
			</li>
		</ul>
		<ul class="order__wrapper--buttons">
			<li ng-click="prevModal()">Volver</li>
			<li ng-click="cancel()">Volver a Iniciar</li>
			<li ng-click="finish()">Finalizar</li>
		</ul>
	</div>
</ion-view>
