<ion-modal-view class="menusModal" name="menuProduct">
	<section class="menusModal__breakfast">
		<div class="menusModal__breakfast--img">
			<img ng-src="{{actualMenu.image}}" alt="">
		</div>
		<div class="menusModal__breakfast--detail">
			<h2>{{actualMenu.name | capitalize:true}}</h2>
			<p>{{actualMenu.description}}</p>
		</div>
	</section>
	<aside></aside>
  <section class="menusModal__observation">
    <span><i class="ion-android-warning"></i> <strong>Observación:</strong> {{ actualMenu.observation }}</span>
  </section>
	<section class="menusModal__toppings">
		<div class="menusModal__toppings--item" ng-class="{ active: complement.actual }" ng-repeat="complement in actualMenu.complements">
			<p class="toppingText">{{complement.instruction}}</p>
			<div class="toppingImg">
				<img ng-src="{{complement.image}}" alt="">
			</div>
			<ion-content padding="true" has-bouncing="false">
				<div class="toppingList">
					<ion-list ng-class="{ full: complement.long}" ng-repeat="item in complement.complement_products">
						<ion-checkbox ng-model="item.checked" ng-click="updateSelection($index, complement.complement_products, item.name)">{{item.name}}</ion-checkbox>
					</ion-list>
				</div>
			</ion-content>
		</div>
	</section>
	<ul class="menusModal__buttons">
		<li ng-click="prevAccompaniment()">Volver</li>
		<li ng-click="skipAccompaniment()">Omitir</li>
		<li ng-click="nextAccompaniment()">Seleccionar</li>
	</ul>
</ion-modal-view>

