<ion-modal-view>
	<ion-header-bar class="bar-assertive">
		<h1 class="title">Seleccionar Sala</h1><button class="button icon ion-android-cancel" ng-click="placeCloseModal()"></button>
	</ion-header-bar>
	<ion-content padding="true">
		<ion-radio
			ng-repeat="place in places"
			ng-click="selectPlace(place)"
		>{{place.name}}
		</ion-radio>
	</ion-content>
</ion-modal-view>
