<ion-modal-view class="modalCustomers">
	<ion-header-bar class="bar-assertive">
		<h1 class="title">Seleccionar Paciente</h1><button class="button icon ion-android-cancel" ng-click="customerCloseModal()"></button>
	</ion-header-bar>
	<ion-content padding="true">
		<div class="searchs">
			<search class="searchs__name"></search>
			<label class="item item-input searchs__place">
				<div class="filter-place" on-touch="placeOpenModal(true, true)">{{search.place.name || 'No de sala'}}</div>
				<button type="button" ng-if="search.place" on-touch="searchByPlace(search.place.id)" class="button button-stable button-inline button-clear icon-center ion-search"></button>
			</label>
			<label class="item item-input searchs__dni">
				<input ng-model="search.dni" type="search" placeholder="Cedula">
				<button type="button" ng-if="search.dni" on-touch="refreshCustomers()"  class="button button-stable button-inline button-clear icon-center ion-close"></button>
				<button type="button" ng-if="search.dni" on-touch="searchDni(search.dni)" class="button button-stable button-inline button-clear icon-center ion-search"></button>
			</label>
		</div>
		<div class="spaceBar"></div>
		<ion-radio
			ng-repeat="customer in customers | filter:search.value"
			ng-click="selectCustomer(customer)"
		>{{customer.firstname}} {{customer.lastname}}
			<div>{{customer.dni}}</div>
		</ion-radio>
	</ion-content>
</ion-modal-view>
