<ion-modal-view class="menusModal summaryModal" can-swipe-back="false">
	<!-- <ion-content> -->
		<section class="summaryModal__detail">
			<h2>Confirme su selección</h2>
			<div class="box hide-on-keyboard-open">
				<div class="box__img">
					<img ng-src="{{actualMenu.image}}" alt="">
				</div>
				<div class="layer">
					<h2>{{actualMenu.name | capitalize:true}}</h2>
					<p>{{actualMenu.description}}</p>
					<ul>
						<li ng-repeat="accompaniment in summary.accompaniments"><span>{{accompaniment.title}} : </span>{{accompaniment.name}}</li>
					</ul>
				</div>
			</div>
			<div class="comment">
				<label class="item item-input">
					<textarea ng-model="data.comment" placeholder="Observaciones"></textarea>
				</label>
			</div>
		</section>
	<!-- </ion-content> -->
	<ul class="menusModal__buttons">
		<li ng-click="prevModal()">Volver</li>
		<li ng-click="nextCategory()">Confirmar</li>
	</ul>
</ion-modal-view>