<ion-view class="welcome" can-swipe-back="false">
  <ion-content scroll="false">
  <header class="header">
    <div class="header__left_rwd">
      <img class="logo-location" src="{{actualImageLocation}}" >
    </div>
    <div class="header__center_rwd">
      <img class="logo-medirest" src="./img/logo-medirest.png">
    </div>
    <div class="header__right_rwd">
      <img class="logo-menu" src="./img/logo-menu.png" alt="" />
    </div>
  </header>
  <div class="content">
    <div class="welcome__wrapper">
      <div class="welcome__wrapper--border">
        <h1>Bienvenido</h1>
        <h2 class="animated fadeInUp">{{actualCustomer.firstname}} {{actualCustomer.lastname}}</h2>
        <div class="item-button">
          <button ng-click="nextStep()" class="button button-small button-energized">
            Ingresar
          </button>
        </div>
        <p>En {{actualNameLocation}} estamos comprometidos en brindarle las mejores opciones para su salud y bienestar. Esperamos que disfrute su estadía</p>
    </div>
    </div>
  </div>
  </ion-content>
</ion-view>
