/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$balanced:                        #4CAF50 !default;
$positive:                        #2196F3 !default;
$assertive:                       #333947 !default;
$dark:                            #212121 !default;

$color-orange: #333947;
$color-brown: #371d10;
.bar-orange {
	background: $color-orange;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
	background: $color-orange !important;
	background-color: $color-orange !important;
	border-color: $color-orange !important;
}

@font-face {
	font-family: backToBlack;
	src: url('../fonts/Back to Black Demo.ttf');
}
@font-face {
	font-family: champagneL;
	src: url('../fonts/Champagne & Limousines.ttf');
	font-weight: 400;
}
@font-face {
	font-family: champagneL;
	src: url('../fonts/Champagne & Limousines Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: champagneL;
	src: url('../fonts/Champagne & Limousines Bold Italic.ttf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: gotam;
	src: url('../fonts/Gotham-Book.otf');
	font-weight: 400;
}
@font-face {
	font-family: gotam;
	src: url('../fonts/Gotham-Medium.otf');
	font-weight: 500;
}
@font-face {
	font-family: gotam;
	src: url('../fonts/Gotham-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: lie;
	src: url('../fonts/Lie to Me - OTF.otf');
}

body,html {
	font-size: 16px !important;
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

* {
	box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: $color-brown;
}
:-ms-input-placeholder {
  color: $color-brown;
}
::-moz-placeholder {
  color: $color-brown;
  opacity: 1;
}
:-moz-placeholder {
  color: $color-brown;
  opacity: 1;
}
.ng-leave { display:none; }

.home {
	background: url('../img/bg-home-big.jpg') center bottom;
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #371d10 !important;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: #371d10 !important;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: #371d10 !important;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #371d10 !important;
	}
	.header {
		padding: 5px 6%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-around;
		background: rgba(160,103,58, .8);
		width: 100%;
		&__left {
			img {
				max-width: 225px;
				width: 100%;
				display: block;
			}
		}
		&__right {
			display: flex;
			align-items: center;
			img {
				max-width: 171px;
				width: 100%;
				display: block;
			}
		}
		// @media (max-width: 830px) {
		// 	-webkit-box-pack:justify;
		// 	-webkit-justify-content:space-between;
		// 	justify-content:space-between;
		// 	&__left {
		// 		img {
		// 			max-width: 180px;
		// 		}
		// 	}
		// 	&__right {
		// 		img {
		// 			max-width: 105px;
		// 		}
		// 	}
		// }
		@media (max-height: 600px) {
			-webkit-box-pack:justify;
			-webkit-justify-content:space-between;
			justify-content:space-between;
			&__left {
				img {
					max-width: 163px;
				}
			}
			&__right {
				img {
					max-width: 108px;
				}
			}
		}
		@media (max-width: 470px) {
			padding: 10px 3% 10px;
			&__left {
				img {
					max-width: 140px;
				}
			}
			&__right {
				img {
					max-width: 72px;
				}
			}
		}
	}
	aside {
		display: block;
		background: url('../img/bar.jpg');
		height: 9px;
	}
	&__wrapper {
		justify-content: center;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
	h1 {
		color: white;
		text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px #9c6438;
		font-size: 1.4em;
		margin-bottom: 0;
		font-family: gotam;
		font-weight: bold;
	}
	.toogle {
		display: flex;
		justify-content: center;
		font-family: gotam !important;
		margin-bottom: 20px;
		.item-toggle {
			background: transparent;
			border: 0;
			color: white;
			border-radius: 5px;
			padding-right: 70px;
			min-height: 50px;
		}
		.new, .old {
			color: white;
			font-size: 18px;
			text-align: right;
			display: inline-block;
			font-weight: 700;
			position: relative;
			top: 12px;
		}
	}
	.card {
		margin: 0;
		background: $color-orange;
		&__header {
			background: $color-orange;
			padding: 0;
			min-height: 9px;
			display: flex;
			align-items: center;
			h2 {
				color: $color-brown;
				text-align: center;
				text-transform: uppercase;
				overflow: initial;
				text-overflow: initial;
				white-space: initial;
				margin: 0 auto;
				width: 220px;
				font-weight: bold;
			}
		}
		&__body {
			border: none;
			background: $color-brown;
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			&--fields {
				width: 270px;
			}
			&--options {
				border-radius: 10px;
				margin-left: 24px;
				height: 240px;
				min-width: 155px;
				overflow: auto;
				.list {
					label {
						background: none;
						background: $color-brown;
						border: 0;
						color: white;
					}
				}
			}
			.name {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				background: $color-orange;
				height: 38px;
				position: relative;
				padding: 0;
				&__icon {
					height: 28px;
					width: 38px;
					margin-left: 8px;
					background: url('../img/select-name.jpg') -9px center no-repeat;
					background-size: cover;
				}
				&__label {
					color: $color-brown;
					position: relative;
				}
				&__arrow {
					height: 35px;
					width: 38px;
					background: url('../img/select-name.jpg') right center no-repeat;
					background-size: cover;
					position: absolute;
					right: 0;
					top: calc(50% - 17.5px);
				}
			}
			.lastName {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				background: $color-orange;
				height: 38px;
				position: relative;
				padding: 0;
				&__icon {
					height: 28px;
					width: 38px;
					margin-left: 8px;
					background: url('../img/select-name.jpg') -9px center no-repeat;
					background-size: cover;
				}
				&__label {
					color: $color-brown;
				}
			}
			.identification {
				background: $color-orange;
				margin-bottom: 20px;
				padding: 0;
				height: 38px;
				position: relative;
				color: #371d10;
				&__icon {
					height: 28px;
					min-width: 38px;
					margin-left: 8px;
					background: url('../img/select-id.jpg') -9px center no-repeat;
					background-size: cover;
				}
				&__edit {
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					width: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: white;
					font-size: 21px;
				}
				input[type="text"] {
					height: auto;
					color: $color-brown;
				}
			}
			.place {
				margin-top: 50px;
				display: flex;
				align-items: center;
				background: $color-orange;
				height: 38px;
				position: relative;
				&New {
					margin-top: 48px;
				}
				&__label {
					display: flex;
					width: 50%;
					justify-content: center;
					color: $color-brown;
					i {
						margin-right: 8px;
						font-size: 1.2em;
					}
				}
				&__select {
					background: white;
					height: 100%;
					position: relative;
					width: 50%;
					display: flex;
					align-items: center;
					padding-left: 15px;
					&--icon {
						height: 28px;
						width: 35px;
						background: url('../img/select-name.jpg') right center no-repeat;
						background-size: cover;
						position: absolute;
						right: 4px;
						top: 5px;
					}
				}
			}
			.item {
				border: 0;
				&-button {
					text-align: center;
					margin-top: 16px;
					button {
						color: $color-brown;
						padding: 2px 50px 1px;
						height: 40px;
						min-height: initial;
						line-height: initial;
						box-sizing: border-box;
						font-weight: bold;
					}

				}

			}
		}
		&__footer {
			background: $color-orange;
			min-height: 30px;
			border: 0;
		}
		@media (max-width: 830px) {
			margin-top: 20px;
		}
		@media (max-height: 600px) {
			&__body {
				padding-bottom: 15px;
				.place {
					margin-top: 20px;
				}
			}
			&__footer {
				min-height: 20px;
			}
		}
		@media (max-width: 380px) {
			width: 310px;
			&__header {
				h2 {
					font-size: 14px;
				}
			}
			&__body {
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 20px;
			}
		}
	}
}

.popup {
	&Dni, &Errors {
		.popup {
			background: $color-brown;
			&-head {
				background: $color-orange;
				border: 0;
				h3 {
					font-weight: bold;
					text-transform: uppercase;
				}
			}
			&-body {
				padding: 25px 20px 0;
				label {
					margin-bottom: 20px;
					display: flex;
					align-items: center;
					background: #f49237;
					height: 38px;
					position: relative;
					padding: 0;
					border: 0;
					input {
						padding-left: 15px;
					}
				}
			}
			&-buttons {
				padding: 0 10px 25px;
				button {
					color: $color-brown;
					background: #ffc900;
					padding: 2px 17px 1px;
					height: 40px;
					min-height: initial;
					line-height: initial;
					box-sizing: border-box;
					font-weight: bold;
					&:first-child {
						background: white;
						color: $color-brown;
					}
					&:hover {
						color: $color-brown;
					}
				}
			}
		}
	}
	&Errors {
		background: rgba(33, 33, 33, .6);
		.popup {
			&-body {
				color: white;
				padding: 25px 20px;
				text-align: center;
			}
			&-buttons {
				padding: 25px 10px;
				button {
					background: $color-orange;
					&:hover, &:active, &:focus {
						background: $color-orange;
					}
				}
			}
		}
	}
}
.ion-search:before {
	font-size: 20px;
}

.modalCustomers {
	.item-content  {
		display: flex;
		justify-content: space-between;
	}
	.spaceBar {
		height: 58px;
		width: 100%;
	}
	.searchs {
		display: flex;
		justify-content: space-between;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		&__name {
			width: 60%;
			label {
				min-height: 60px;
			}
		}
		&__dni {
			width: 40%;
		}
	}
}

.login {
	background: url('../img/bg-home-big_8.jpg') center bottom;
	.header {
		padding: 0;
		img {
			width: 100%;
			display: block;
		}
	}
	&__wrapper {
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	.card {
		margin-top: 60px;
		margin-bottom: 60px !important;
		margin-left: auto;
		margin-right: auto;
		max-width: 320px;
		&__header {
			background: $color-orange;
			padding: 7px 0;
			min-height: 53px;
			display: flex;
			align-items: center;
			border-color: initial;
			border-width: 0;
			border-style: none;
			h2 {
				color: $color-brown;
				text-align: center;
				text-transform: uppercase;
				overflow: initial;
				text-overflow: initial;
				white-space: initial;
				margin: 0 auto;
				width: 220px;
				font-weight: bold;
			}
		}
		&__body {
			border-color: initial;
			border-width: 0;
			border-style: none;
			background: $color-brown;

			label {
				height: 38px;
				margin-bottom: 15px;
				input {
					color: $color-brown;
				}
			}
		}
		// padding: 20px;
	}
}

.welcome {
	background: url('../img/bg-welcome.jpg') center bottom;
	.header {
		padding: 15px 6% 15px;
		display: flex;
		align-items: center;
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		justify-content:space-between;
		background: rgba(160,103,58, .8);
		width: 100%;
		&__left {
			display: flex;
			align-items: center;
			padding: 15px 2% 15px 0;
			> i {
				font-size: 1.25em;
				color: $energized;
				margin-right: 6px;
			}
		}
		&__right {
			display: flex;
			align-items: center;
			img {
				max-width: 128px;
				width: 100%;
				display: block;
			}
		}
		@media (max-width: 470px) {
			padding: 10px 3% 10px;
			&__left {
				img {
					max-width: 140px;
				}
			}
			&__right {
				img {
					max-width: 72px;
				}
			}
		}
	}
	.subheader {
		background: url('../img/bar.jpg');
		height: 10px;
	}
	&__wrapper {
		position: fixed;
		top: 120px;
		bottom: 18px;
		left: 25px;
		right: 25px;
		&--border {
			height: 100%;
			overflow: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h1 {
				font-family: backToBlack;
				text-align: center;
				color: white;
				font-size: 4em;
				margin-bottom: 25px;
				width: 100%;
			}
			h2 {
				font-family: gotam;
				background: $color-orange;
				display: inline-block;
				color: white;
				padding: 0 16px;
				margin: 0 auto;
				font-weight: 500;
				font-size: 2em;
				border-radius: 2px;
				letter-spacing: -1px;
			}
			.item-button {
				text-align: center;
				button {
					margin-top: 50px;
					padding: 0 40px;
					min-width: 90px;
					font-size: 1.2em;
					color: $color-brown;
					height: 40px;
					font-weight: 400;
					font-family: gotam;
				}
			}
			> p {
				max-width: 400px;
				color: white;
				margin: 30px auto 0;
				padding: 0 10px;
				text-align: center;
				font-family: gotam;
			}
		}
		@media (max-width: 600px) {
			h1 {
				font-size: 50px;
			}
			h2 {
				font-size: 1.5em;
			}
		}
	}
}

.menus {
	background: url('../img/bg-home-big.jpg') center bottom;
	ion-content {
		padding-bottom: 50px;
	}
	.header {
		padding: 15px 4% 15px;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		justify-content:space-between;
		background: rgba(160, 102, 56, 0.80);
		&__left {
			display: flex;
			align-items: center;
			padding: 15px 2% 15px 0;
			> i {
				font-size: 1.25em;
				color: $energized;
				margin-right: 6px;
			}
		}
		> p {
			color: white;
			margin: 0;
			text-align: center;
			padding: 0 8% 0 2%;
			text-align: justify;
			font-size: .9em;
			font-family: 'Roboto', sans-serif;
		}
		&__right {
			p {
				color: white;
				font-family: backToBlack;
				font-size: 2.4em;
				transition: opacity 0.15s ease-in, top 0.2s linear;
				&:first-child {
					font-size: 1.5em;
					font-family: lie;
					text-align: right;
					margin-bottom: 10px;
				}
			}
		}
	}
	.subheader {
		background: url('../img/bar.jpg');
		background-size: cover;
		min-height: 10px;
	}
	&__wrapper {
		position: fixed;
		background: rgba(55,35,27, .8);
		top: 125px;
		bottom: 25px;
		left: 25px;
		right: 25px;
		padding: 46px 8px 8px;
		border-radius: 15px;
		> h2 {
			font-family: gotam;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			min-height: 47px;
			padding: 11px 0;
			text-align: center;
			color: white;
			z-index: 2;
			font-size: 1.3em;
			border-radius: 14px 14px 0 0;
		}
		&--border {
			border-radius: 10px;
			border: 1px solid white;
			height: 100%;
			overflow: auto;
			// text-align: center;
			.itemMenu {
				width: 49%;
				min-width: 330px;
				margin: 14px 0 10px 0;
				box-sizing: border-box;
				display: inline-block;
				text-align: center;
				&__img {
					width: 100px;
					height: 100px;
					margin: 18px 18px 18px 0;
					overflow: hidden;
					border-radius: 50%;
					border: 5px solid $color-orange;
					background: url('../img/medirest.jpg') center;
					background-size: cover;
					position: relative;
					display: inline-block;
					vertical-align: middle;
					.spinner {
						position: absolute;
						top: 34%;
						left: 34%;
					}
					img {
						height: 100%;
						display: block;
						position: relative;
						z-index: 2;
					}
				}
				&__detail {
					font-family: champagneL;
					color: white;
					width: 60%;
					text-align: left;
					display: inline-block;
					vertical-align: middle;
					h3 {
						font-family: champagneL;
						font-weight: bold;
						color: white;
						text-transform: capitalize;
						margin-bottom: 4px;
						font-size: 21px;
					}
					p {
						font-weight: bold;
						font-style: italic;
					}

				}
				@media (max-width: 766px) {
					width: 100%;
					&__img {
						margin: 2px 18px;
					}
					&__detail {
						width: 75%;
					}
				}
			}
		}
	}
	&Modal {
		border-radius: 18px;
		border: 0;
		overflow: hidden;
		border-top: 3px solid white;
		&__breakfast {
			background-color: rgba(55,35,27, 1);
			padding: 18px 18px 18px 18px;
			position: relative;
			border-left: 3px solid white;
			border-right: 3px solid white;
			border-radius: 18px 18px 0 0;
			min-height: 170px;
			display: flex;
			align-items: center;
			&--img {
				width: 110px;
				height: 110px;
				border-radius: 50%;
				border: 5px solid $color-orange;
				margin: 0 18px;
				overflow: hidden;
				background: white;
				img {
					height: 100%;
					display: block;
				}
				@media (max-width: 930px) {
					width: 130px;
					height: 130px;
				}
			}
			&--detail {
				width: 71%;
				h2 {
					padding-top: 8px;
					color: $color-orange;
					font-weight: 400;
					font-family: backToBlack;
					font-size: 1.87em;
					text-transform: capitalize;
				}
				p {
					color: white;
					margin: 0;
					font-family: champagneL;
					font-style: italic;
				}
			}
		}
		@media (max-width: 1000px) {
			&__breakfast {
				&--img {
					width: 120px;
					height: 120px;
				}
				&--detail {
					h2 {
						font-size: 30px;
					}
				}
			}
		}
		aside {
			background: url('../img/bar.jpg');
			min-height: 10px;
			width: 100%;
			border-left: 3px solid white;
			border-right: 3px solid white;
		}
		&__toppings {
			position: fixed;
			top: 200px;
			left: 20px;
			right: 20px;
			bottom: 50px;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			&--item {
				border-radius: 0;
				padding: 0;
				text-align: left;
				width: 100%;
				position: relative;
				ion-content {
					top: 36px;
					left: 17%;
				}
				display: none;
				&.active {
					display: block;
				}
				.topping {
					&Text {
						color: #797272;
						font-size: 1.1em;
						margin-bottom: 20px;
						font-family: gotam;
					}
					&Img {
						width: 100px;
						height: 100px;
						border-radius: 50%;
						border: 5px solid $color-orange;
						flex-shrink: 0;
						overflow: hidden;
						display: inline-block;
						vertical-align: top;
						img {
							height: 100%;
							display: block;
						}
					}
					&List {
						display: inline-block;
						vertical-align: middle;
						overflow: auto;
						// height: 170px;
						font-family: champagneL;
						ion-list {
							display: inline-block;
							width: 48%;
							vertical-align: middle;
							&.full {
								width: 100%;
							}
							> .list {
								label.item-checkbox {
									overflow: initial;
									text-overflow: initial;
									white-space: initial;
									border: 0;
									padding: 0 4px 0 60px;
									.item-content {
										padding: 8px 12px 8px 12px;
										overflow: initial;
										text-overflow: initial;
										white-space: initial;
										font-size: 1.15em
									}
								}
							}
						}
					}
					@media (max-width: 930px) {
						&Img {
							display: none;
						}
						&List {
							width: 100%;
						}
					}
				}
			}
		}
		&__buttons {
			display: flex;
			width: 100%;
			position: fixed;
			left: 0;
			right: 0;
			z-index: 4;
			bottom: 0;
			border-radius: 0 0 18px 18px;
			overflow: hidden;
			li {
				background: #d97c30;
				padding: 11px 10px;
				width: 100%;
				text-align: center;
				color: white;
				&:first-child {
					background: #f59137;
				}
				&:last-child {
					background: #6f3e18;
				}
			}
		}
		@media (max-width: 1000px) {
			&__toppings--item .toppingText {
				font-size: 1.06em;
			}
			&__buttons li {
				padding: 10px 10px;
				font-size: 16px;
			}
		}

	}
}

.lunch {
	background: url('../img/bg-home-big.jpg') center bottom;
	ion-content {
		padding-bottom: 50px;
	}
	.header {
		padding: 15px 6% 15px;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		justify-content:space-between;
		background: rgba(160,102,56, .8);
		&__left {
			display: flex;
			align-items: center;
			padding: 15px 2% 15px 0;
			> i {
				font-size: 1.25em;
				color: $energized;
				margin-right: 6px;
			}
		}
		&__right {
			p {
				color: white;
				font-family: backToBlack;
				font-size: 2em;
				transition: opacity 0.15s ease-in, top 0.2s linear;
				&:first-child {
					font-size: 1.5em;
					font-family: lie;
					text-align: right;
					margin-bottom: 10px;
				}
			}
		}
	}
	.subheader {
		background: url('../img/bar.jpg');
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 11px 0;
		min-height: 62px;
		transition: .4s;
		p {
			text-align: center;
			max-width: 670px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			font-family: 'Roboto', sans-serif;
			transition: .4s;
			color: $color-brown;
		}
		@media (max-width: 766px) {
			p {
				// max-width: 580px;
				font-size: 14px;
			}
		}
	}
	&__wrapper {
		position: fixed;
		background: rgba(55,35,27, .8);
		top: 170px;
		bottom: 18px;
		left: 25px;
		right: 25px;
		padding: 8px;
		border-radius: 25px;
		&--border {
			border-radius: 25px;
			border: 1px solid white;
			height: 100%;
			overflow: auto;
			display: flex;
			.itemLunch {
				height: 100%;
				width: 19%;
				margin-right: 1%;
				min-width: 150px;
				&__img {
					height: 90%;
					background-size: cover !important;
				}
				&__footer {
					color: white;
					text-align: center;
					background: $color-brown;
					height: 10%;
					display: flex;
					-webkit-box-align: center;
					-webkit-align-items: center;
					align-items: center;
					-webkit-box-pack:center;
					-webkit-justify-content:center;
					justify-content: center;
					p {
						margin-bottom: 0;
						font-size: 18px;
					}
				}

			}
		}
	}
}

.summary {
	&Modal {
		background: rgba(55, 29, 16, 1);
		border-radius: 18px;
		border: 3px solid white;
		hr {
			border-top: 2px solid $color-orange;
			padding-top: 10px;
			margin: 0;
			border-bottom: 0;
			padding: 0;
		}
		&__detail {
			position: fixed;
			top: 0;
			bottom: 50px;
			left: 5%;
			right: 5%;
			overflow-y: auto;
			> h2 {
				color: white;
				text-align: center;
				margin: 12px 0 0;
				font-size: 1.31em;
				font-family: gotam;
				font-weight: 400;
			}
			.box {
				position: fixed;
				background: rgba(220, 187, 121, 0.97);
				border-radius: 8px;
				margin-top: 25px;
				left: 18%;
				right: 37px;
				top: 40px;
				bottom: 160px;
				font-family: champagneL !important;
				&__img {
					position: absolute;
					left: -16%;
					top: -15px;
					z-index: 2;
					width: 130px;
					height: 130px;
					overflow: hidden;
					vertical-align: middle;
					border-radius: 50%;
					border: 5px solid $color-orange;
					background: url('../img/medirest.jpg') center;
					background-size: cover;
					img {
						height: 100%;
						display: block;
					}
				}
				.layer {
					padding: 18px 50px 18px 60px;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					box-sizing: border-box;
					overflow: auto;
				}
				h2 {
					font-size: 1.68em;
					text-align: left;
					color: #673e17;
					font-family: backToBlack;
					padding: 0;
					margin-top: 0;
				}

				p {
					line-height: 22px;
					text-align: left;
					color: #111;
					span {
						color: $color-orange;
						font-weight: 700;
					}
				}
				ul {
					text-align: left;
					color: #111;
					li {
						margin-bottom: 8px;
						span {
							color: #9a5819;
							font-weight: 700;
						}
					}
				}
			}
			.comment {
				padding: 38px 0 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 99%;
				right: 0;
				label {
					border-radius: 14px;
					background: white;
					textarea {
						min-height: 50px;
					}
				}

			}
		}
	}
}

.order {
	background: url('../img/bg-home-big.jpg') center bottom;
	ion-content {
		padding-bottom: 50px;
	}
	.header {
		padding: 0 6%;
		height: 70px;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-pack:justify;
		-webkit-justify-content:space-between;
		justify-content:space-between;
		background: rgba(160,102,56, .8);
		&__left {
			display: flex;
			align-items: center;
			padding: 15px 2% 15px 0;
			> i {
				font-size: 1.25em;
				color: $energized;
				margin-right: 6px;
			}
		}
		&__right {
			p {
				color: white;
				font-family: backToBlack;
				font-size: 2.4em;
				margin: 0;
				transition: opacity 0.15s ease-in, top 0.2s linear;
			}
		}
	}
	.subheader {
		background: url('../img/bar.jpg');
		background-size: cover;
		min-height: 10px;
	}
	&__wrapper {
		position: fixed;
		background: rgba(55,35,27, .8);
		top: 105px;
		bottom: 25px;
		left: 25px;
		right: 25px;
		padding: 46px 8px 8px;
		border-radius: 15px;
		> h2 {
			font-family: gotam;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			min-height: 47px;
			padding: 11px 0;
			text-align: center;
			color: white;
			z-index: 2;
			font-size: 1.3em;
			border-radius: 14px 14px 0 0;
		}
		&--border {
			border-radius: 8px;
			border: 1px solid white;
			height: 100%;
			overflow: auto;
			display: flex;
			flex-wrap: wrap;
			.box {
				position: relative;
				margin-top: 40px;
				width: 80%;
				left: 14%;
				padding: 0 30px 30px 78px;
				background: rgba(220, 187, 121, 0.97);
				border-radius: 8px;
				&:last-child {
					margin-bottom: 60px;
				}
				h1 {
					color: white;
					text-align: left;
					display: inline-block;
					margin: 0 auto;
					position: absolute;
					background: $color-orange;
					top: -8px;
					left: 0;
					font-family: champagneL;
					padding: 5px 15px 5px 70px;
					font-weight: bold;
					font-size: 1.37em;
				}
				&__img {
					position: absolute;
					left: -10%;
					top: -15px;
					display: inline-block;
					width: 140px;
					height: 140px;
					overflow: hidden;
					vertical-align: middle;
					border-radius: 50%;
					border: 5px solid $color-orange;
					background: url('../img/medirest.jpg') center;
					background-size: cover;
					img {
						width: 100%;
						display: block;
					}
				}
				h2 {
					font-size: 1.8em;
					text-align: left;
					color: #673e17;
					font-family: backToBlack;
					padding: 0;
					margin-top: 0px;
					padding-top: 40px;
				}
				p {
					line-height: 22px;
					text-align: left;
					color: #111;
					font-family: champagneL;
					span {
						color: $color-orange;
						font-weight: 700;
					}
				}
				ul {
					text-align: left;
					color: #111;
					margin-bottom: 8px;
					font-family: champagneL;
					li {
						margin-bottom: 8px;
						span {
							color: #9a5819;
							font-weight: bold;
						}
					}
				}
				.orderList {
					height: 100%;
					padding: 40px;
					margin: 0 auto;

				}

			}
		}
		&--buttons {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			-webkit-box-pack:justify;
			-webkit-justify-content:space-between;
			justify-content:space-between;
			height: 44px;
			line-height: 44px;
			color: white;
			border-radius: 0 0 14px 14px;
			overflow: hidden;
			li {
				text-align: center;
				width: 50%;
				background: #d97c30;
				&:first-child {
					background: $color-orange;
				}
				&:last-child {
					background: $color-brown;
				}
			}
		}
		// @media (max-width: 1000px) {
		// 	margin: 20px auto 20px auto;
		// 	h2 {
		// 		font-size: 19px;
		// 	}
		// 	&--border {
		// 		padding-top: 30px;
		// 		> ul {
		// 			height: 350px;
		// 		}
		// 	}
		// }
	}
}

.finish {
	background: url('../img/bg-welcome.jpg') center bottom;
	.header {
		padding: 10px 6% 10px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		-webkit-box-pack:justify;
		justify-content:space-around;
		background: rgba(160,103,58, .8);
		width: 100%;
		&__left {
			img {
				max-width: 225px;
				width: 100%;
				display: block;
			}
		}
		&__right {
			display: flex;
			align-items: center;
			img {
				max-width: 171px;
				width: 100%;
				display: block;
			}
		}
		// @media (max-width: 830px) {
		// 	-webkit-box-pack:justify;
		// 	-webkit-justify-content:space-between;
		// 	justify-content:space-between;
		// 	&__left {
		// 		img {
		// 			max-width: 180px;
		// 		}
		// 	}
		// 	&__right {
		// 		img {
		// 			max-width: 105px;
		// 		}
		// 	}
		// }
		@media (max-width: 470px) {
			padding: 10px 3% 10px;
			&__left {
				img {
					max-width: 140px;
				}
			}
			&__right {
				img {
					max-width: 72px;
				}
			}
		}
	}
	.subheader {
		background: url('../img/bar.jpg') center no-repeat;
		background-size: 100%;
		background-size: cover;
		text-align: center;
		padding: 11px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		> h2 {
			text-align: center;
			margin: 0;
			color: white;
			font-size: 1.9em;
			font-weight: bold;
			font-family: gotam;
			font-weight: 500;
			letter-spacing: -1px;
		}
		p {
			margin: 0;
			width: 65%;
			color: $color-brown;
			font-size: 1.05em;
			max-width: 535px;
			display: flex;
			align-items: center;
			font-style: italic;
			font-family: champagneL;
		}
	}
	&__wrapper {
		position: fixed;
		top: 234px;
		bottom: 18px;
		left: 25px;
		right: 25px;
		&--border {
			height: 100%;
			overflow: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			h1 {
				font-family: backToBlack;
				text-align: center;
				color: white;
				margin-bottom: 25px;
				font-size: 2.8em;
			}
			h2 {
				background: $color-orange;
				display: inline-block;
				color: white;
				padding: 6px 28px;
				margin: 0 auto;
				font-weight: bold;
				font-size: 2em;
				border-radius: 2px;
			}
			.images {
				display: flex;
				align-items: center;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				img {
					max-width: 220px;
					width: 100%;
				}
			}
			.button {
				margin-top: 20px;
				color: $color-brown;
				font-weight: bold;
				padding-left: 15px;
				padding-right: 15px;
				width: 180px;
				text-align: center;
				font-weight: 400;
				font-family: gotam;
			}
		}
	}
}

.admin {
	background: url('../img/bg-home-big.jpg') center bottom;
	.header {
		padding: 25px 6%;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content: flex-end;
		background: rgba(160,102,56, .8);
		&__left {
			display: flex;
			align-items: center;
			padding: 15px 2% 15px 0;
			> i {
				font-size: 1.25em;
				color: $energized;
				margin-right: 6px;
			}
		}
		&__right {
			p {
				color: white;
				font-family: backToBlack;
				font-size: 2em;
				margin: 0;
				transition: opacity 0.15s ease-in, top 0.2s linear;
			}
		}
	}
	.subheader {
		background: url('../img/bar.jpg');
		background-size: cover;
		min-height: 10px;
	}
	&__wrapper {
		position: fixed;
		background: rgba(55,35,27, .8);
		top: 105px;
		bottom: 18px;
		left: 25px;
		right: 25px;
		padding: 46px 8px 8px;
		border-radius: 15px;
		> h2 {
			font-weight: 500;
			font-family: gotam;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			min-height: 47px;
			padding: 11px 0;
			text-align: center;
			color: white;
			z-index: 2;
			font-size: 1.3em;
			border-radius: 14px 14px 0 0;
		}
		&--border {
			border-radius: 10px;
			border: 1px solid white;
			height: 100%;
			overflow: auto;
			display: flex;
			flex-direction: column;
			padding: 5px 0 20px 40px;
			position: relative;
			.adminItem {
				width: 56%;
				margin-bottom: 20px;
				margin-top: 20px;
				h1 {
					color: white;
					font-family: backToBlack;
					text-align: left;
					margin: 0 auto 20px;
				}
				&__detail {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
					color: white;
					text-align: left;
					h2 {
						font-size: 26px;
						border-bottom: 1px solid $color-orange;
						margin: 0 0 15px;
						padding-bottom: 10px;
						padding-right: 15px;
						text-align: left;
						color: white;
						font-family: champagneL;
						font-weight: bold;
					}
					p {
						line-height: 23px;
						padding: 0 15px 0 0;
						font-family: champagneL;
					}
					ul {
						margin:  0;
						padding: 0 10px 0 0;
						color: white;
						margin-bottom: 8px;
						font-family: champagneL;
						li {
							margin-bottom: 8px;
						}
						span {
							color: $color-orange;
							font-weight: bold;
							font-family: champagneL;
						}
					}
				}
			}
			.flex {
				display: flex;
				flex-direction: column;
				max-height: 20%;
				margin-top: 20px;
				width: 30%;
				position: fixed;
				right: 60px;
				top: 160px;
				.comments {
					width: 100%;
					label {
						border-radius: 6px;
						background: white;
						textarea {
							min-height: 110px;
						}
						margin-bottom: 15px;
					}
				}
				.password {
					width: 100%;
					label {
						border-radius: 6px;
						background: white;
					}
				}
				.send {
					margin-top: 18px;
					button {
						width: 100%;
						border-radius: 4px;
					}
				}
			}
		}
	}
}

@media (min-width: 680px) {
	.modal {
		top: 12%;
		right: 15%;
		bottom: 12%;
		left: 15%;
		min-height: 240px;
		width: 70%;
	}
}

@media (max-height: 600px) {
	.modal {
		top: 6%;
		right: 15%;
		bottom: 6%;
		left: 15%;
		min-height: 240px;
		width: 70%;
	}
}

/* LOADER*/
.image-loader-container {
  margin: 9px;
  max-width: 81px;
  max-height: 81px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #e5e5e5;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}


.popup-container .popup {
	width: 300px !important;
}