<label class="item item-input">
	<i class="icon ion-search placeholder-icon"></i>
	<input ng-model="search.value" type="search" placeholder="Nombre">
	<button type="button" ng-if="search.value" on-touch="search.value=''" class="button button-stable button-inline button-clear icon-center ion-close"></button>
</label>